.g-container {
  margin: 20px;
  display: grid;
  /* grid-template-columns: 100px 5rem 20% 2fr; */
  grid-template-columns: repeat(2, 4fr) 2fr 3fr;
  grid-template-rows: [r-1-s] 20rem [r-1-e r-2-s] minmax(10rem, auto) [r-2-e r-3-s] 20% [r-3-e];
}

.item-1 {
  background-color: cyan;
}

.item-2 {
  background-color: greenyellow;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: r-2-s;
  grid-row-end: -2;
}

.item-3 {
  background-color: darkkhaki;
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: r-3-s;
  grid-row-end: -1;
}

.item-4 {
  background-color: orchid;
  grid-column-start: 4;
  grid-column-end: 3;
  grid-column-start: -4;
  grid-row-end: -3;
}
