/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #22df5c;
}

#product-overview h1 {
  color: #fff;
  font-family: 'Anton', sans-serif;
}

h1 {
  font-family: sans-serif;
}
